.contactFooter-comp {
    background-color: #ffffff;
    padding: 4px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;  
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
}

.contactFooter-comp .contactFooterContainer {
    display: flex;
    flex-wrap: nowrap;
}

.contactFooter-comp .contactFooterContainer .contactImgContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2px;
}

.contactFooter-comp .contactFooterContainer .contactImgContainer img {
    height: 25px;
    width: 25px;
    max-width: 25px;
    max-height: 25px;
}