/* Component */
.header-comp {
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    padding: 0px;
}

.header-comp > * {
    display: flex;
}

/* Logo */
.header-comp .logoImg {    
    max-height: 100px;
    max-width: 100px;
}

/* Navegation */
.header-comp .navWrapper {
    height: inherit;
    align-items: flex-end;
    padding: 4px;
}


.header-comp .navWrapper nav {
    display: flex;
    height: fit-content;
}

.header-comp .navWrapper nav a {
    font: 300;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    height: fit-content;
    padding: 4px;
    border:  2px solid white;
    transition: 0.25s;
}

.header-comp .navWrapper nav a + a {
    margin-left: 4px;
}