/* Component */
.header-comp {
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0px;
}

.header-comp > * {
    display: flex;
}

/* Logo */
.header-comp .logoImg {    
    max-height: 75px;
    max-width: 75px;
    min-width: 25px;
    min-height: 25px;
}

/* Navegation */
.header-comp .navWrapper {
    height: inherit;
    align-items: flex-end;
    padding: 4px;
}


.header-comp .navWrapper nav {
    display: flex;
    height: fit-content;
}

.header-comp .navWrapper nav a {
    text-decoration: none;
    font-weight: 400;
    color: white;    
    font-size: 1.25em;
    white-space: nowrap;
    height: fit-content;
    padding: 4px;
    border:  2px solid white;
    transition: 0.25s;
}

.header-comp .navWrapper nav a:hover {
    background-color: #383838;
    transition: 0s;
}

.header-comp .navWrapper nav a:active { 
    background-color: white;
    color: #383838;
}

.header-comp .navWrapper nav a + a {
    margin-left: 4px;
}

@media (max-width: 600px) {
    .header-comp {
        flex-direction: column;
    }

    .header-comp > * {
        justify-content: center;
    }

    .header-comp .logoImg {
        max-width: 150px;
        max-height: 150px;
    }

    .header-comp .navWrapper nav {
        width: 100%;
        justify-content: space-evenly;
    }

    .header-comp .navWrapper nav a {
        font-size: 1.5em;
    }
}