.wineCardCarousel-comp .wineCardContainer {
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .wineCardCarousel-comp .wineCardContainer {
        padding-bottom: 4px;
    }
}