.wineCard-comp {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    max-height: 450px;
    width: 80vw;
    height: 40vw;
    padding: 8px;
    border: 4px solid black;
}

.wineCard-comp > * {
    padding: 4px;
}

.wineCard-comp .imgHolder {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.wineCard-comp .imgHolder > img {
    width: 40vw;
    height: 40vw;
    max-width: 100%;
    max-height: 100%;
}

.wineCard-comp .textInfo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.wineCard-comp .textInfo .innerTextContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    text-overflow: ellipsis;
    overflow: hidden;
}

.wineCard-comp .textInfo .textFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .wineCard-comp .textInfo {
        width: 100%;
    }

    .wineCard-comp .imgHolder {
        width: 100%;
        height: auto;
    }

    .wineCard-comp {
        flex-direction: column;
        max-width: 500px;
        max-height: 1000px;
        width: 80vw;
        height: fit-content;
    }
}