* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100vh;
  min-width: 300px;
}

/** Exctract later **/
main {
  display: flex;
  padding: 4px;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}