* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100vh;
  min-width: 300px;
}

main {
  display: flex;
  padding: 1px;
  justify-content: space-around;
  align-content: space-around;
}